/* Author: Javier López López
   Version: 1.0
   Date: 16/04/2023
   File Description: Css file for theme styles
*/
/****************************************\
01.General
02.Titles
03.Buttons
04.Boat card
05.Footer
*****************************************/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
    --color-primary: #3776af;
    --color-secondary: #ffde59;
}

/* Font declarations */
@font-face {
    font-family: 'Zing Rust Base';
    src: url('../fonts/ZingRustBaseFont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Zing Sans Rust';
    src: url('../fonts/ZingSansRustFont.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}


html, body, p {
    font-family: 'Zing Sans Rust', sans-serif;
    color: #000;
    font-size: min(calc(0.95rem + 0.1vw), 1.1rem);
}

h1, h2, h3, h4, h5 {
    font-family: 'Zing Rust Base', serif;
    color: var(--color-primary);
}

/* Colors */
.thm-color-primary {
    color: var(--color-primary);
}

.thm-color-secondary {
    color: var(--color-secondary);
}

/* Backgrounds */
.bg-primary {
    background-color: var(--color-primary) !important;
}

/* Container */
.thm-container {
    max-width: 1250px;
}


/*--------------------------------------------------------------
# Titles
--------------------------------------------------------------*/

h2 {
    font-size: calc(2rem + 0.8vw);
}

h1 span, h2 span {
    color: var(--color-secondary);
    text-align: center;
}

h4 {
    font-size: min(calc(1.32rem + 0.15vw), 1.45rem);
}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.thm-btn-primary, .thm-btn-primary-lt {
    width: fit-content;
    height: fit-content;
    border-radius: 28px;
    font-family: 'Zing Rust Base', serif;
    text-align: center;
    background-color: var(--color-secondary);
    color: #fff !important;
}

.thm-btn-primary {
    padding: 4px 48px;
    font-size: min(calc(0.9rem + 0.1vw), 1rem);
}

.thm-btn-primary-lt {
    padding: 4px 12px;
    font-size: min(calc(0.8rem + 0.1vw), 0.875rem);
}

.thm-btn-primary:hover, .thm-btn-primary-lt:hover {
    background-color: var(--color-primary);
}


/*--------------------------------------------------------------
# Boat card
--------------------------------------------------------------*/

.boat-card .boat-image {
    width: fit-content;
    margin: 10px 0;
}

.boat-card .boat-image img {
    object-fit: cover;
}

.boat-card .boat-content h4 {
    margin-bottom: 0;
    line-height: 25px;
    font-size: min(calc(1.3rem + 0.15vw), 1.43rem);
}

.boat-card .boat-content p {
    font-size: min(calc(0.75rem + 0.1vw), 0.79rem);
}

.boat-card .boat-items p {
    margin: 3.5px 0;
}

.boat-card .boat-items > div:not(:last-child) {
    border-bottom: 1px solid #b3c4d0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer ul {
    padding-left: 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 2px;
}

footer a {
    color: #fff;
    text-decoration: none!important;
    font-size: min(calc(0.95rem + 0.1vw), 1.04rem);
}

footer a:hover {
    color: var(--color-secondary);
}

footer p {
    font-size: min(calc(0.78rem + 0.1vw), 0.84rem);
}

@media screen and (max-width: 767px) {
    footer .footer-logo {
        width: 250px!important;
    }
}